extend head.pug
block contenido
	main
		section.description
			.description__intro
				h1=title
			.description__paragraph
				p=subtitle  
		.card
			div 
				img(src="../images/mars.jpg", alt="img-mars", class="card__image")
			.card__content
				.title--card
					h3 Mast Camera 
				.data--card
					+item("Martian sol:", "492")
					+item("Rover:", "Curiosity")
					+item("Camera:", "CHEMCAM")
		button(class="button")="Show Image"
			

