extend head.pug
block contenido
	main
		section.description
			.description__intro
				h1=title
				p=subtitle  
		.card
			.card__image
				img(src="", alt="img-mars", srcset="")
			.card__content
				.title--card
					h3 Mast Camera
				.data--card
					+item("Martian sol:", "492")
					+item("Rover:", "Curiosity")
					+item("Camera:", "CHEMCAM")
		input(type="button", value="Show Image" class="button")
			

