extend head.pug
block contenido
	main
		section.description
			.description__intro
				h1=title
			.description__paragraph
				p=subtitle  
		.card
			div 
				img(src="../images/mars.jpg", alt="img-mars", class="card__image")
			.card__content
				.title--card
					h3 Mast Camera
				.data--card
					+item("martianSol","martianSolValue", "Martian sol:", "492")
					+item("roverName","roverNameValue", "Rover:", "Curiosity")
					+item("cameraName","cameraNameValue", "Camera:", "CHEMCAM")
		button(class="button" id="btn")="Show Image"
		script(src="../main.js") 

