.button {
  width: 150px;
  height: 45px;
  border: transparent;
  border-radius: 20px;
  background-color: $color-claro;
  font-family: $Fuente2;
  color: $color-oscuro;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  line-height: 41px;
}
