$font-reset: 62.5%;
$Fuente1: "Orbitron", sans-serif;
$Fuente2: "Play", sans-serif;
$color-claro: #f0f0f0;
$color-oscuro: #030611;
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;


@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-reset;
  color: $color-claro;
}

main {
  background-image: url(../images/background-destination-desktop.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(xs) {
      display: flex;
      justify-content: space-around;
    }
}
